[submodule "Who-Pays-Backend"]
	path = Who-Pays-Backend
	url = https://github.com/RafaelGomez1/Who-Pays-Backend
[submodule "Who-Pays-Frontend"]
	path = Who-Pays-Frontend
	url = https://github.com/RafaelGomez1/Who-Pays-Frontend.git
